<h1><%= @tournament.name %></h1>

<p>
  <ul>
    <li>Event Started At: <%= @tournament.event_started_at -%></li>
    <li>Video: <%= link_to @tournament.video_url, @tournament.video_url -%></li>
    <li>Video Duration: <%= @tournament.video_duration %></li>
    <li>IFPA Tournament Page: <%= link_to @tournament.ifpa_url, @tournament.ifpa_url %></li>
  </ul>
</p>

<h2>Matches</h2>
<p>
  <ul>
    <% @matches.each do |m| %>
      <li><%= link_to "#{m.video_segment_start_time} - #{m.machine.name}", tournament_match_path(m.tournament_id, m.id) -%></li>
    <% end %>
  </ul>
</p>

<h2>Machines Featured</h2>
<p>
  <ul>
    <% @tournament.machines.each do |m| %>
      <li><%= link_to m.name, machine_path(m) -%></li>
    <% end %>
  </ul>
</p>

<h2>Vids</h2>
<p>
  <ul>
    <% @matches.each do |m| %>
      <li><%= link_to "#{m.video_segment_start_time} - #{m.machine.name}", m.video_url -%></br>
        <iframe width="560" height="315" src="<%= m.video_embed_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
    <% end %>
  </ul>
</p>