<h1>Match <%= @match.id %></h1>

<p>
  <ul>
    <li>Tournament: <%= link_to @match.tournament.name, machine_path(@match.tournament.id) -%></li>
    <li>Machine: <%= link_to @match.machine.name, machine_path(@match.machine.id) -%></li>
    <li>Video Segment Start Time: <%= @match.video_segment_start_time -%></li>
    <li>Bracket: <%= @match.bracket -%></li>
    <li>Invalidated: <%= @match.invalidated -%></li>
  </ul>
</p>
<p>
  <%= link_to "Edit Match", { :action => 'edit' } -%>
</p>


<iframe width="560" height="315" src="<%= @match.video_embed_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>