<h1><%= @machine.name %></h1>

<p>
  <ul>
    <li>IPDB Page: <%= link_to @machine.ipdb_url, @machine.ipdb_url -%></li>
  </ul>
</p>

<h2>Matches</h2>
<p>
  <ul>
    <% @matches.each do |m| %>
      <li><%= link_to "#{m.tournament.name} - #{m.video_segment_start_time}", tournament_match_path(m.tournament_id, m.id) %></li>
    <% end %>
  </ul>
</p>

<h2>Tournaments Featured</h2>
<p>
  <ul>
    <% @machine.tournaments.each do |t| %>
      <li><%= link_to t.name, tournament_path(t.id) %></li>
    <% end %>
  </ul>
</p>

<h2>Vids (<%= @matches.count %>)</h2>
<% @matches.each do |m| %>
  <%= link_to "#{m.tournament.name} - #{m.video_segment_start_time}", m.video_url -%></br>
  <div class="youtube-video-container">
    <iframe
      width="560"
      height="315"
      src="<%= m.video_embed_url %>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
<% end %>
